/*        ALL ROOT BODY          */

* {
    box-sizing: border-box;
}

:root {
    --primary-bg: #1F567A;
    --secondary-bg: #0C2231;
    --primary: #D0EDF1;
    --secondary: #EBF4FA; 
}

body {
    margin: 0;
    font-family: 'Allerta Stencil';
    background-color: var(--secondary-bg);
}

/*             NAV         */

.nav {
    background-color: var(--primary-bg);
    padding: 1em;        
}

.nav .nav-container { 
    /* display: flex; */
}

.nav .nav-container .nav-container--box {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: var(--primary);
}


/*          SITE HEADER          */

.site-header {
    display: flex;
    justify-content: space-around;
}

.site-header .container {
    color: var(--secondary);
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.home-title h3, h4, img{
    display: flex;
    justify-content: center;    
}

img {
    max-width: 200px;
}


/*          INTRO SECTION            */

.about-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    margin-left: 5%;
    text-align: center;
    max-width: 200px;
}

.about p {
    color: var(--primary);

}



/*          FOOTER               */

footer {
    color: var(--primary);
    background-color: var(--primary-bg);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}







@media screen and (min-width: 320px) {
    .site-header .container .home-title img {
    }
}