/*        GLOBAL          */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-bg: #1F567A;
    --secondary-bg: #0C2231;
    --primary: #D0EDF1;
    --secondary: #EBF4FA; 
}

body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color: var(--secondary-bg);
}

/*             NAV         */

.nav {
    background-color: var(--primary-bg);
    padding: 1em;   
    position: fixed;    
    top: 0;
    width: 100%; 
}

.nav .nav-container .nav-container--box {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: var(--primary);
}


/*          SITE HEADER          */

.site-header {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.site-header .container {
    color: var(--secondary);
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.home-title h3, h4, img{
    display: flex;
    justify-content: center;    
    text-align: center;       
}

img {
    max-width: 200px;
}


/*          INTRO SECTION            */

.intro-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    text-align: center;
    max-width: 300px;
}

.intro p {
    color: var(--primary);
}

/*  WORK SECTION  */

.work {
    display: flex;
    justify-content: center;
    color: var(--secondary);
    
    padding-bottom: 40px;
}

.work h1 {
    border-width: 0 0 5px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: var(--primary-bg);
    text-align: center;
}

.work p {
    text-align: center;
}


.work img {padding-bottom: 10px;
}


/*           ABOUT SECTION             */

.about {
    display: flex;
    justify-content: center;
    color: var(--primary);
    border-width: 0 0 1px;
    border-style: solid;
}

.about h1 {
    border-width: 0 0 5px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: var(--primary-bg);
}



/*          FOOTER               */

footer {
    color: var(--primary);
    background-color: var(--primary-bg);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;

    display: none;

}







@media screen and (min-width: 320px) {
    .site-header .container .home-title img {
    }
}