/*        GLOBAL          */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-bg: #1F567A;
    --secondary-bg: #0C2231;
    --primary: #D0EDF1;
    --secondary: #EBF4FA; 
}

body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color: var(--secondary-bg);
}

/*             NAV         */

.nav {
    background-color: var(--primary-bg);
    padding: 5px;   
    position: fixed;    
    top: 0;
    width: 100%; 
}

.nav .nav-container .nav-container--box {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: var(--secondary);
    border-radius: 50px;
    padding: 10px;    
}

.nav a:hover {
    border-radius: 27px;
background: linear-gradient(315deg, #1c4d6e, #215c83);
box-shadow:  -5px -5px 10px #1d5173,
             5px 5px 10px #215b81;
}


/*          SITE HEADER          */

.site-header {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.site-header .container {
    color: var(--secondary);
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.home-title h3, h4, img{
    display: flex;
    justify-content: center;    
    text-align: center;       
}

img {
    max-width: 200px;
}


/*          INTRO SECTION            */

.intro-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 90%;
    text-align: center;
    max-width: 300px;
}

.intro p {
    color: var(--primary);
}

/*  WORK SECTION  */

.section {
    display: flex;
    justify-content: center;
    color: var(--secondary);
    padding-top: 40px;
    padding-bottom: 40px;
}

/* .section-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
} */

.section h1 {
    border-width: 0 0 5px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: var(--primary-bg);
    text-align: center;
}

.section p {
    text-align: center;
}


.section img {padding-bottom: 10px;
}


/*           ABOUT SECTION             */

.section p {
    max-width: 450px;
}


/*              CONTACT SECTION          */



.section-form    {
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
    max-width: 450px;
    color: var(--primary);
    padding-bottom: 50px;
}

.section-form h1 {
    border-width: 0 0 5px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: var(--primary-bg);
    text-align: center;
}

form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}



/*                  CONTACT FORM         */

input, textarea  {
    margin-top: 15px;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 2px solid var(--primary-bg);
    resize: none;
}

input {
    height: 25px;
    width: 50%;
}

button {
    height: 25px;
    margin-top: 15px;
    border-radius: 15px;
    width: 50%;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: var(--primary-bg);
    color: var(--primary);
    font-size: medium;
}

button:hover {
    background-color: var(--primary);
    color: var(--primary-bg);
}


/*          FOOTER               */

footer {
    color: var(--primary);
    background-color: var(--primary-bg);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 35px;

    /* display: none; */

}

i {
    color: var(--primary);
    font-size: 25px;
    padding-top: 5px;
}







/* @media screen and (min-width: 320px) {
    .site-header .container .home-title img {
    }
} */