/*        GLOBAL          */

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-bg: #1F567A;
    --secondary-bg: #0C2231;
    --primary: #D0EDF1;
    --secondary: #EBF4FA; 
}

body {
    margin: 0;
    font-family: 'Spartan', sans-serif;
    background-color: var(--secondary-bg);   
}





/*             NAV         */

.nav {
    background-color: var(--primary-bg);
    padding: 5px;   
    position: fixed;    
    top: 0;
    width: 100%; 
    z-index: 10;
}

.nav    .nav-container {
    display: flex; 
    justify-content: center;    
}

.nav .nav-container .nav-container--box {
    display: flex;
    justify-content: space-evenly;
}

.nav a {
    text-decoration: none;
    color: var(--secondary);
    padding: 10px;    
    transition: 0.5s;
}

.nav a:hover {
    letter-spacing: 3px;
    position: static; 
    transition: 1s;  
}







/*          SITE HEADER          */

.site-header {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.site-header .container {
    color: var(--secondary);
    max-width: 85%;
    display: flex;
    flex-direction: column;
}

.home-title h3, h4, img{
    display: flex;
    justify-content: center;    
    text-align: center;    
    font-weight: 300;
}

img {
    max-width: 200px;
}


.home-title .tooltip-face {
    visibility: hidden;
    max-width: 300px;
    background-color: var(--primary-bg);
    color: var(--primary);
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 73%;
    left: 50%;
    margin-left: -60px;
}

.home-title:hover .tooltip-face {
    visibility: visible;
}


/*          INTRO SECTION            */

.intro-container {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

#intro-title {
    text-align: center;
}

.intro {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    max-width: 350px;
    margin: 0 5%;
}

.intro p {
    color: var(--primary);
}

/*  WORK SECTION  */



.section {
    display: flex;
    justify-content: center;
    color: var(--secondary);
    margin-bottom: 200px;
}

#work {
    align-self: flex-end;
}

#about-txt {
    display: flex;
    justify-content: center;
}

.section-about {
    max-width: 90%;
    padding-top: 50px;
    /* margin-bottom: 250px; */
}

.section-work {
    max-width: 90%;
    margin: 0 5%;
    padding-top: 50px;
}


.section h1 {
    border-width: 0 0 5px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: var(--primary-bg);
    text-align: center;
}

.section p {
    max-width: 450px;    
    text-align: justify;
}


.section img {
    padding-bottom: 25px;
}

.section img:hover {
    filter: brightness(50%);
    transition: 0.5s;
} 

.work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.work-img img {
    margin: 15px;
}

/*              TOOLTIP              */

.tooltip {
    visibility: hidden;
    max-width: 300px;
    background-color: var(--primary-bg);
    color: var(--primary);
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
}

.work-img a:hover .tooltip {
    visibility: visible;
    transition-delay:  0.2s;
}



/*           ABOUT SECTION             */

#about {
    margin-top: 50px;
}



.about-content {
    line-height: 25px;
}

/*              CONTACT SECTION          */



.section-form    {
    max-width: 450px;
    color: var(--primary);
    padding-bottom: 50px;
}

.section-form h1 {
    border-width: 0 0 5px;
    border-style: solid;
    padding-bottom: 8px;
    border-color: var(--primary-bg);
    text-align: center;
}

form {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

::placeholder {
    font-family: 'Spartan', sans-serif;
}



/*                  CONTACT FORM         */

input, textarea  {
    margin-top: 15px;
    border-radius: 15px;
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 2px solid var(--primary-bg);
    resize: none;
}

input {
    height: 25px;
    width: 50%;
}

button {
    height: 25px;
    margin-top: 15px;
    border-radius: 15px;
    width: 50%;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    background-color: var(--secondary-bg);
    color: var(--primary);
    font-size: medium;
}


.close {
    float: right;
    width: 10%;
    margin: 9px;
}

button:hover {
    background-color: var(--primary);
    color: var(--primary-bg);
}


/*          MODAL            */

.section-modal {
    display: none;
    position: fixed;
    z-index: 1; 
    right: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

.section-form {
    background-color: var(--primary-bg);
    margin: 15% auto;
    border-radius: 5px;
    padding: 15px;
}


/*          FOOTER               */

footer {
    color: var(--primary);
    background-color: var(--primary-bg);
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 40px;
}

.footer-section {
    padding: 4px;
}

footer i {
    color: var(--primary);
    font-size: 20px;
    border: var(--primary) 1px solid;
    border-radius: 100%;
    padding: 5px 6px;
    transition: 0.5s;
}

footer a {
    text-decoration: none;
}

footer i:hover {
    color: var(--primary-bg);
    background-color: var(--primary);
    transition: 1s;
}

.footer-section .tooltip-footer {
    visibility: hidden;
    font-size: 13px;
    max-width: 300px;
    background-color: var(--primary-bg);
    color: var(--primary);
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    /* left: 50%; */
    margin-left: -60px;
}

footer a:hover .tooltip-footer {
    visibility: visible;
    transition-delay:  0.2s;
}