name: Cypress Tests

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, firefox, edge]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cypress run in ${{ matrix.browser }}
        uses: cypress-io/github-action@v6
        with:
          build: echo "skip build"
          start: echo "skip start"
          wait-on: "https://b-tkacz.github.io"
          wait-on-timeout: 120
          browser: ${{ matrix.browser }}
          spec: cypress/e2e/spec.cy.js

      - name: Upload Cypress reports
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-reports-${{ matrix.browser }}
          path: cypress/screenshots/
